@page
@model Employee_Training_Portal.Pages.AboutModel
@{

    ViewData["Title"] = "About Page";
}

<body>
    <br />
    <div width="300px" height="100px"class="align-content-md-center">

     <p class="align-content-md-center" position="absolute" width="300px">
            The Employee Training portal is intended to educate incoming employees about maintaining a safe working environment. 
        The employee is responsible for completing the specified training before the deadline date posted. Any further questions? Email 
        your Employer for any questions, comments or concerns. 
    </p>
</div>

</body>