@page
@using Employee_Training_Portal.Model;
@model Employee_Training_Portal.Pages.EmployerModel

@{

   
  
}
<h1 class="display-4 align-content-center">Employer View</h1>
    
<body>
    <form class="align-content-md-center" method="post">
        <br><br />
            <label class="display-3"> View Employee Score </label>

            <br><br />
                   <button asp-page-handler="ViewScore" name="view-score-btn" type="submit" class="btn btn-outline-success"> View Score </button>
        <br><br />
                   <label class="display-3"> Set Deadline </label>
            <br><br />
        <button asp-page-handler="SetDeadLine" name="set_deadline_btn" type="submit" class="btn btn-outline-success"> Set Deadline </button>
            <br><br />
       <button asp-page-handler="Reset" name="reset_btn" type="submit" class="btn btn-outline-success"> Reset </button>
           @* <div class="align-content-end>

              <label for="start">Deadline:</label>
           
                <input type="date" id="start" name="set_deadline"
                   value="@ViewData["viewDeadLine"]
                   min="2023-01-01" max="2023-12-31">
            </div>*@
    </form>

    <div class="display-3">
        <label> @ViewData["employeeScore"]</label>
        <label> @ViewData["viewDeadLine"]</label>
    </div>
</body>
<br />
<br />
<button onclick="location.href = '/';" id="myButton" class="float-left btn btn-outline-success">Logout</button>