@page
@model IndexModel
@{
    ViewData["Title"] = "ETP";


    var user = "zubairi";

    var password = "zub1"; 

 
}

<body>
   <h1 class="text-center"> Welcome to the Employee Training Portal </h1>
<br><br>
<div class=" d-flex justify-content-center text-center">
   <br><br>
    <form method="post">
        <label for="username">User Name</label>
        <br>
        <input name ="username" type="text" required>             
        <span asp-asp-validation-for="user" class="text-bg-danger"> </span>

        <br>
        <label for="userpass">Password</label> 
        <br>
        <input name="userpass" type="password" required>
        <br />
            <div class="text-center">
                <br>
                <br>
                <button class="text-center btn btn-outline-success" asp-page="Employee" type="submit"> Login </button>
                <br>
            </div>
    </form>
    <br>
    </div>
    <br>
</body>